.App {
  text-align: center;
  background-color: #3a3a3a;
}
.App-header{
  padding-top: 60px;
  min-height: 100vh;
}
body{
  overflow: hidden;
}

.rightContent{
  display: inline-block;
  margin-top: 26px;
  width: 1100px;
  background-color: #d9d9d9;
  border-radius: 15px;
  margin-right: 32px;
}

.leftContent{
  display: inline-block;
  margin-top: 26px;
  width: 220px;
  background-color: #d9d9d9;
  border-radius: 15px;
  margin-left: 32px;
}

.pageContent{
  display: flex;
  flex-direction: row;
  gap: 47px;
  margin-bottom: 32px;
  height: calc(100% - 32px - 60px - 26px );
}