.App {
  text-align: center;
  background-color: #3a3a3a;
}
.App-header{
  padding-top: 60px;
  min-height: 100vh;
}
body{
  overflow: hidden;
}

.rightContent{
  display: flex;
  width: 80vw;
  background-color: #d9d9d9;
  border-radius: 15px;
  margin-right: 32px;
  margin-left: 3vh;
  height: calc(100vh - 124px);
  overflow: auto;
}

.leftContent{
  display: inline-block;
  width: 15vw;
  min-width: 220px;
  background-color: #d9d9d9;
  border-radius: 15px;
  margin-left: 32px;
  height: calc(100vh - 124px);
}

.pageContent{
  display: flex;
  flex-direction: row;
  margin-top: 32px;
}

.cellarGrid{
  width: 100%;
  display: grid;
  /* grid-template-columns: repeat(auto-fill, 210px); */
  grid-template-columns: repeat(auto-fill, minmax(210px, 1fr));
  grid-gap: 32px;
  grid-auto-rows: min-content;
  padding: 32px;
  justify-content: center;
}