.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #d9d9d9;
    color: #fff;
    height: 60px;
    padding: 0 20px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
  }
  
  .navbar-left,
  .navbar-right {
    display: flex;
    align-items: center;
  }
  
  .navbar-right{
    padding-right: 25px;
  }
  
  .navbar-icon {
    font-size: 24px;
    margin-right: 10px;
    height: 45px;
    color: black;
  }