.dropdown {
    position: relative;
    display: block;
    height: 30px;
    margin-left: 15%;
    margin-right: 15%;
    background-color: #fff;
    border-radius: 15px;
    cursor: pointer;
    z-index: 13;
  }
  
  .dropdown .dropdown-toggle {
    background-color: #fff;
    color: #333;
    border: none;
  }
  
  .dropdown.open .dropdown-toggle {
    background-color: #f0f0f0;
  }
  
  .dropdown .dropdown-menu {
    position: flex;
    top: 100%;
    left: 0;
    display: block;
    background-color: #fff;
    border: 1px solid #ccc;
    border-top: none;
    padding: 0;
    margin: 0;
    list-style: none;
  }
  
  .dropdown .dropdown-menu li {
    padding: 8px 12px;
    cursor: pointer;
  }
  
  .dropdown .dropdown-menu li:hover {
    background-color: #f0f0f0;
  }
  
  .dropdown .dropdown-icon {
    transition: transform 0.2s ease-in-out;
  }
  
  .dropdown .dropdown-icon.rotate {
    transform: rotate(180deg);
  }

  ul{
    z-index: 999;
  }

  .dropdown-icon{
    padding-top: 0px;
  }