.ratingCard {
    display: flex;
    align-items: center;
    background-color: #fff;
    border-radius: 15px;
    height: 90px;
    width: 100%;
    margin-top: 32px;
    margin-left: 20px;
    margin-right: 20px;
}

.leftRatingContent {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 15px;
    height: 60px;
    width: 60px;
}

.winePhotoBox {
    display: flex;
    justify-content: center;
}

.winePhotoRating {
    height: 60px;
    width: 60px;
    border-radius: 15px;
    margin-left: 20px;
    ;
}

h1 {
    font-size: 20px;
    margin: 0;
}

h2 {
    font-size: 16px;
    margin: 0;
}

.wineTag {
    display: inline;
    background-color: #fff;
    font-size: 12px;
    height: 20px;
    border: 1px solid black;
    border-radius: 5px;
    padding: 2px 4px;
    margin-left: 15px;
    cursor: pointer;
}



.wineTitle {
    display: flex;
    flex-direction: column;
    margin-left: 20px;
}

.wineName {}

.bottomWineTitle {
    display: flex;
    justify-content: flex-end;
}

.wineYear {
    display: flex;
    flex: 1;
    margin-left: 15px;
}


.addRating {
    display: flex;
    width: 30px;
    margin-right: 20px;
}

.addIcon {
    height: 30px;
    flex-direction: flex-end;
}

.wineInfo {
    margin-left: 30px;
    flex-grow: 4;
    justify-content: flex-start;
}

.upperWineInfo {
    text-align: left;
}

.lowerWineInfo {
    display: flex;
}